albumentations
distinctipy
git+https://github.com/facebookresearch/segment-anything.git
graphviz
matplotlib
numpy
onnx
onnxruntime
opencv-python
pandas
pillow
pycocotools
segmentation-models-pytorch
streamlit
streamlit-drawable-canvas
streamlit-image-coordinates
streamlit-image-select
torch
torchaudio
torchmetrics
torchsummary
torchview
torchvision
tqdm
wandb